.ai-cv-intro-section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
 
  
}

.ai-cv-intro-tagline{
    font-family: 'Open Sans', sans-serif;
    font-size: 64px !important;
    color:whitesmoke;
    font-size: 24px;
    
}

.ai-cv-btn{
    padding-top: 16px;
}