.ai-cv-cvintrosection{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 20px;   /* space on the left */
    padding-right: 20px;  /* space on the right */
   
}

.ai-cv-headline-1{
    font-size: 28px;
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
  -webkit-background-clip: text; /* For Safari/Chrome */
  -webkit-text-fill-color: transparent; /* For Safari/Chrome */
  background-clip: text; /* For Firefox */
  color: transparent; /* Fallback */
  font-weight: 900;
}
.ai-cv-headline-2{
    font-size: 28px;
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
  -webkit-background-clip: text; /* For Safari/Chrome */
  -webkit-text-fill-color: transparent; /* For Safari/Chrome */
  background-clip: text; /* For Firefox */
  color: transparent; /* Fallback */
  font-weight: 900;
}

.ai-cv-headline3{
background: black;
font-size: 24px;
  -webkit-background-clip: text; /* For Safari/Chrome */
  -webkit-text-fill-color: transparent; /* For Safari/Chrome */
  background-clip: text; /* For Firefox */
  color: transparent; /* Fallback */
  font-weight: 900;
  padding-left: 12px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}