.ai-cv-personaldetail-initials-section{
    display: flex;
    flex-direction: row;
    gap:16px;
}

.ai-cv-personaldetail-section{
display: flex;
flex-direction: column;
gap:16px;
justify-content: center;
align-items: center;
}

.ai-cv-personaldetail-contact-section{
display:flex;
flex-direction: row;
gap: 16px;

}

.ai-cv-personaldetail-email {
    width: 100%;
  }