.ai-cv-portal{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

.ai-cv-mysidebarpages{
    width:30%;
    background-color: aliceblue;
    height: max-content;

    
}

.ai-cv-previewpages{
    width:70%
}

