@tailwind base;
@tailwind components;
@tailwind utilities;

@import "@fontsource/open-sans";
@import "@fontsource/open-sans/400.css";
@import "@fontsource/open-sans/400-italic.css";

@import "@fontsource/cormorant-garamond/300.css";
@import "@fontsource/cormorant-garamond/400.css";
@import "@fontsource/cormorant-garamond/500.css";
@import "@fontsource/cormorant-garamond/600.css";
@import "@fontsource/cormorant-garamond/700.css";
@import "@fontsource/cormorant-garamond/300-italic.css"; 


body {
  font-family: "Open Sans";
  margin:0;
  overflow: hidden;
} 